*{
    margin: 0;
    padding: 0;
}
body{
    width: 1024px;
}
h1{
    font-family: 'Poppins', sans-serif;
}
section{
    width: 100%;
    margin-top: 104px;
    padding: 41px 0 0 112px;
}
header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 41px 190px 0 112px ;
    .logo{
        width: 90px;
        height: 60px;
    }
    a{
       color: black;
        text-decoration: none;
        &:hover{
            border-bottom: 1px solid red;
        }
    }
.right_box{
    ul{
        align-items: center;
        img{
            gap: 8px;
            margin: 0;
        }
    }
    
}
}
section{
    display: grid;
    grid-template-columns: 50% 50%;
    .left{   
        margin-right: 81px;
    a{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #D6D4D4;
         text-decoration: none;
         margin-right: 23px;
         &:hover{
             color: #B00000;
             border-bottom: 1px solid #B00000;
         }
        }
        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 54px;
            font-weight: 700;
            color: #2E2E2E;
            margin-bottom: 34px;
        }       
        p{
            color: #808080;
            font-family: 'Inter', sans-serif;
            margin-bottom: 60px;
        }
        .buttons{
            .red{
            background-color: #B00000;
            color: white;
            border: 0;
            border-radius: 5px;
            font-family: 'Poppins' sans-serif;
            font-weight: 600;
            padding: 12px 13.5px 12px 13.5px;
            box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
        }
            .but{
                background-color: white;
                color: black;
                border: 2px sollid black;  
                border-radius: 5px;
                font-family: 'Poppins' sans-serif;
                font-weight: 600;
                padding: 12px 13.5px 12px 13.5px;      
            }
        }
     }
     .right{
         img{
             margin: 0;
            ul{
                 list-style: none;
                 .siade_r{
                     width: 40px;
                     height: 40px;
                     position: absolute;
                     left: 1327px;
                     top: 261px;
                 }
             }
         }
     }
}
.text{
    h2{
        font-family: 'Inter', sans-serif;
        font-size: 32px;
        font-weight: 800;
        color: #18191F;
        margin-top: 128px;
    }
    p{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        color: #18191F;
        margin-top: 24px;
        line-height: 32px;
        text-align: justify;
    }
    .logoes{
        display: flex;
        justify-content: stretch;
    }
}