<footer>
    <div class="colms">
        <div class="col">
            <img src="./assets/img/Lemon.svg" class="logo" alt="">
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</p>
        </div>
        <div class="col2">
          <h5>Service</h5>
          <ul class="nav flex-column">
            <li><a href="#" class="nav">Domain</a></li>
            <li><a href="#" class="nav">Shared Hostings</a></li>
            <li><a href="#" class="nav">Cloud Hosting</a></li>
            <li><a href="#" class="nav">Private Hosting</a></li>
          </ul>
        </div>
        <div class="col3">
          <h5>Hosting</h5>
          <ul class="nav flex-column">
            <li><a href="#" class="nav">Cheap Hosting</a></li>
            <li><a href="#" class="nav">Hosting Wordpress</a></li>
            <li><a href="#" class="nav">Email Hosting</a></li>
            <li><a href="#" class="nav">Hosting Unlimited</a></li>
          </ul>
        </div>
        <div class="col4">
          <h5>Company</h5>
          <ul class="nav flex-column">
            <li><a href="#" class="nav">About</a></li>
            <li><a href="#" class="nav">Career</a></li>
            <li><a href="#" class="nav">Contact Us</a></li>
          </ul>
        </div>
        <div class="col5">
            <h5>Help</h5>
            <ul class="nav flex-column">
              <li><a href="#" class="nav">FAQ</a></li>
              <li><a href="#" class="nav">Help support</a></li>
            </ul>
          </div>  
        </div>
          <span>Built by Jeremiah with love in Lagos. Copyright 2021</span>
</footer>