{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="box_2">
        <div class="left">
        <nav>
                <a href="#">Hosting</a>
                <a href="#">Domain</a>
                <a href="#">SEO</a>
                <a href="#">Email</a>
        </nav>
        <h1>Premium Web Hosting for Your Website</h1>
        <p>Blazing fast web hosting for individuals and businesses of all sizes backed by 24x7x365 Support.</p>
        <div class="buttons">
        <button class="red">Create an Account</button>
        <button class="but">Choose your pian</button>
    </div>
    <div class="text">
        <h2>True Cloud Web Hosting</h2>
        <p>True Cloud Web Hosting All of the hosting packages we offer are deployed instantly on our SSD powered cloud. We don’t use dedicated servers that operate on single pieces of hardware. Our entire infrastructure is built to be reliable, secure, and scalable.</p>
    </div>
    </div>
    <div class="right">
        <ul>
            <li class="side_r"><img src="/assets/img/Trienright.png" alt=""></li>
            <li class="side_l"><img src="/assets/img/Trienleft.png" alt=""></li>
            <li class="big"><img src="/assets/img/Trienbig.png" alt=""></li>
        </ul>
        <img src="./assets/img/photo.webp" Width="501px" Height="504px" class="photo" alt="">
        <div class="logoes">
            <img src="./assets/img/cPane.webp" width="140px" height="30px" alt="">
            <img src="./assets/img/secured.webp" width="125px" height="50px" alt="">
            <img src="./assets/img/litespeed-logo.webp" width="125px" height="53px" alt=""> 
            <img src="./assats/img/soflaculous" width="172px" height="92px" alt="">
            <img src="./assets/img/wordpress.webp" width="168px" height="56px" alt="">
            <img src="./assets/img/soflaculous.webp" width="143px" height="47px" alt="">
        </div>
    </div>
    </section>
    <section class="big_box">
    <div class="icons">
            <div class="inc1">
            <img src="./assets/img/icn1.png" alt="">
            <h4>99.9% Uptime</h4>
            <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
        </div>
        <div class="frame1">
            <img src="./assets/img/Frame 1.png" alt="">
            <h4>Blazing Fast Web Hosting</h4>
            <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
        </div>
            <div class="inc4">
                <img src="./assets/img/icn4.png" alt="">
                <h4>Free SSL Certificates</h4> 
                <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
            </div>
            <div class="7icon">
                <img src="./assets/img/7 Icon.png" alt="">
                <h4>24x7 Friendly Support</h4>
                <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
            </div>
    </div>
</section>
{% endblock %}